<a href="https://colab.research.google.com/github/Bavitayadav8/Bavitayadav8/blob/main/PSES04_08_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This is a Hello World Program

In [ ]:
print('Hello World') #This is a Hello World Program

Hello World

In [ ]:
print('Welcome to Guvi')

Welcome to Guvi

# New Programs

## Input/Output

Write a code to get the input in the given format and print the output in the given format


Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [ ]:
A=int(input())
print(A)

60
60

# Basics of Python

Variable

In [ ]:
A=50
A='Guvi'
A=[1,2,3,45]
user_input=50
user_2=25
List=36
A=50
S1=10
S2=15
print(S1+S2)

25

Data Types

In [ ]:
I= 86 #int   # mobile,Adhar
I=-86 #int

F=3.14 #Float # avg,kg,mts,lt,
F=-3.14 #Float

S='86'  
S="86" #email id, Pan no 
S='Guvi'
S='!@#$%^&*()_DFGHJKL:' #Str
true=50

B=True #Bool,on,start,pass,open,yes,high
B=False #Bool,off,stop,fail,close,no,low

In [ ]:
10>5

True

In [ ]:
8<6

False

In [ ]:
5=='5'

False

# Data Structure

list, tuple, set and dictionary

In [ ]:
#list

L=[50,3.14,'Guvi',True,[10,20,30,40,50,60]]  #list can contain any data types or data structures
 # 0    1    2      3          4             #index in list we can Add,Remove, Manupulate,(List is mutable)


print(L[2])

print(L[1])

Guvi
3.14

In [ ]:
print(L[4][5])

60

In [ ]:
print(L[4])

[10, 20, 30, 40, 50, 60]

In [ ]:
print(L[4][1])

20

In [ ]:
#Tuple

T=(50,3.14,'Guvi',True,[10,20,30,40,50,60])  #Tuple can contain any data types or data structures
                                             #Tuple is immutable(We can't modify the tuple)
print(T[2])

Guvi

In [ ]:
passedout_Student=('Sachin','EEE',2010,'A') 

Present_Student=['Dhoni','ECE','II-A','B']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
S=(1,2,3,4,1,5,6,3,2,1,8)
S.count(1)

3

In [ ]:
len(S)

11

In [ ]:
S.index(3)

2

In [ ]:
5==int('5')

True

In [ ]:
#Set

S={1,2,4,5,6,33,7,3,88,99,19,29,8,9,1,2,3,7,9} #Set will not allow duplicates,it is an unorder

len(S)

14

In [ ]:
S[2]

TypeError: ignored

In [ ]:
Emp_no=[25,58,96,23,41,25,78,14,63,22,14,78,96] #13 #1000 ,25,78,14,96

len(Emp_no)

13

In [ ]:
Remove_Dup=set(Emp_no)
len(Remove_Dup)

9

In [ ]:
no_of_Dup=len(Emp_no)-len(Remove_Dup)
print('No of Duplicates',no_of_Dup)

No of Duplicates 4

In [ ]:
#Dictionary 

D={"Name":'Dhoni',
   "Age":37,
   "Salary":45000}

D['Age']

37

In [ ]:
Emp_data={'Emp_ID':[45,25,36,7,68],
          'Name':['Yuvaraj','Raina','Sachin','Dhoni','koli'],
          'Age':[32,34,40,37,36],
          'Salary':[37000,32000,45000,40000,39000]}
Emp_data

{'Age': [32, 34, 40, 37, 36],
 'Emp_ID': [45, 25, 36, 7, 68],
 'Name': ['Yuvaraj', 'Raina', 'Sachin', 'Dhoni', 'koli'],
 'Salary': [37000, 32000, 45000, 40000, 39000]}

In [ ]:
Emp_data['Name'][3]

'Dhoni'

In [ ]:
Emp_data['Name'][2]

'Sachin'

In [ ]:
print('Employees ID : ',Emp_data['Emp_ID'][2])
print('Name : ',Emp_data['Name'][2])
print('Age : ',Emp_data['Age'][2])
print('Salary : ',Emp_data['Salary'][2])

Employees ID :  36
Name :  Sachin
Age :  40
Salary :  45000

In [ ]:
Emp_data['Name'].index('Sachin')

2

In [ ]:
Emp_data['Emp_ID'].index(36)

2

In [ ]:
id=int(input("Enter the Employee ID "))  #45

pos=Emp_data['Emp_ID'].index(id) #0

print('Employees ID : ',Emp_data['Emp_ID'][pos]) #45
print('Name : ',Emp_data['Name'][pos]) #Yuvaraj
print('Age : ',Emp_data['Age'][pos]) #32
print('Salary : ',Emp_data['Salary'][pos])#37000

Enter the Employee ID 25
Employees ID :  25
Name :  Raina
Age :  34
Salary :  32000

In [ ]:
import pandas as pd

data=pd.DataFrame(Emp_data)
data

   Emp_ID     Name  Age  Salary
0      45  Yuvaraj   32   37000
1      25    Raina   34   32000
2      36   Sachin   40   45000
3       7    Dhoni   37   40000
4      68     koli   36   39000

#Input & output

In [ ]:
# 5 / o/p 5

A=int(input())
print(A)
print(type(A))

5
5
<class 'int'>

In [ ]:
A=input()
print(A)
print(type(A))

5
5
<class 'str'>

In [ ]:
A=input()
B=input()

A+B

25
10

'2510'

In [ ]:
A=int(input())
B=int(input())

A+B

25
10

35

In [ ]:
A=int(input())
B=input()

A+B

25
10

TypeError: ignored

In [ ]:
A=int(input())
B=input()

A*B

5
Guvi

'Guvi Guvi Guvi Guvi Guvi '

In [ ]:
# 3.14  / o/p 3.14

A=float(input())
print(A)
print(type(A))

3.14
3.14
<class 'float'>

In [ ]:
#1 2 3 4 5 / o/p 1 2 3 4 5

A=input()
print(A)
print(type(A))

1 2 3 4 5
1 2 3 4 5
<class 'str'>

In [ ]:
A=int(input())
print(A)

1 2 3 4 5

ValueError: ignored

In [ ]:
A=input().split('-')
A

1-2-3-4-5

['1', '2', '3', '4', '5']

In [ ]:
S='8'
int(S)

8

In [ ]:
B=list(map(int,A))  #1 2 4 1 2 3 4
B

[1, 2, 3, 4, 5]

In [ ]:
len(B)

5

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
A

['1', '2', '3', '4', '5']

In [ ]:
B

[1, 2, 3, 4, 5]

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
print(*A)

1 2 3 4 5

In [ ]:
print('*****'.join(A)) #1-2-3-4-5

1*****2*****3*****4*****5

In [ ]:
print(' '.join(B))

TypeError: ignored

In [ ]:
print(*A)

1 2 3 4 5

In [ ]:
#1
#2
#3

#1 2 3

A=int(input())
B=int(input())
C=int(input())

print(A,B,C)

1
2
3
1 2 3

In [ ]:
#guvi / g,u,v,i

A=input()
print(','.join(A))

guvi
g,u,v,i

In [ ]:
A=list(map(int,input().split(' ')))
B=list(map(int,input().split(' ')))

print(*A)
print(*B)

5 7
1 2 3 4 5
5 7
1 2 3 4 5

Conditional statment

if, else, and elif

In [ ]:
# Age>=14 and Weight>=45

Name=input('Enter Your Name : ')
Age=int(input('Enter Your Age : '))
Wt=float(input('Enter Your Weight : '))

if Age>=14 and Wt>=45:  
  print(Name,'You are Eligible for the Ride')
else:
  print(Name,'You are Not Eligible for the Ride')

Enter Your Name : Vijay
Enter Your Age : 15
Enter Your Weight : 44
Vijay You are Not Eligible for the Ride

In [ ]:
Name=input('Enter Your Name : ')
Age=int(input('Enter Your Age : '))

if Age>=14:
  Wt=float(input('Enter Your Weight : '))
  if Wt>=45:
    
    print(Name,'You are Eligible for the Ride')
  else:
    print(Name,'You are not Eligible for the Ride because You are under_weight')
else:
    print(Name,'You are not Eligible for the Ride because You are under_Age')

Enter Your Name : Kumar
Enter Your Age : 16
Enter Your Weight : 43
Kumar You are not Eligible for the Ride because You are under_weight

In [ ]:
Student_Name=input('Enter The Student Name : ')
percentage_Mark=float(input('Enter the Mark '))

#90> A, 80>B,70>C,60>D,50>E , 50< Fail


if percentage_Mark>=0 and percentage_Mark<=100:

  if percentage_Mark>90:
    print(Student_Name,' You are Grade-A')
  elif percentage_Mark>80 and percentage_Mark<=90:
    print(Student_Name,' You are Grade-B')
  elif percentage_Mark>70 and percentage_Mark<=80:
    print(Student_Name,' You are Grade-C')
  elif percentage_Mark>60 and percentage_Mark<=70:
    print(Student_Name,' You are Grade-D')
  elif percentage_Mark>50 and percentage_Mark<=60:
    print(Student_Name,' You are Grade-E')
  else:
    print(Student_Name,'You Are Fail')

else:
  print('Enter Valid Mark')

Enter The Student Name : Kamal
Enter the Mark 120
Enter Valid Mark

In [ ]:
Student_Name=input('Enter The Student Name : ')
percentage_Mark=float(input('Enter the Mark '))


if percentage_Mark>90 and percentage_Mark<=100:
    print(Student_Name,' You are Grade-A')
elif percentage_Mark>80 and percentage_Mark<=90:
  print(Student_Name,' You are Grade-B')
elif percentage_Mark>70 and percentage_Mark<=80:
  print(Student_Name,' You are Grade-C')
elif percentage_Mark>60 and percentage_Mark<=70:
  print(Student_Name,' You are Grade-D')
elif percentage_Mark>50 and percentage_Mark<=60:
  print(Student_Name,' You are Grade-E')
elif percentage_Mark>0 and percentage_Mark<=50:
  print(Student_Name,'You Are Fail')
else:
   print('Enter Valid Mark')

Enter The Student Name : Kamal
Enter the Mark 120
Enter Valid Mark

# Loops

For loop and While loops

In [ ]:
S=[1,2,3,4,5,6,7,8,9,10]

for i in S:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
S='Guvi Geek Network'

for i in S:
  print(i)

G
u
v
i

G
e
e
k

N
e
t
w
o
r
k

In [ ]:
S=7
if S%2==0:
  print('Even')
else:
  print('Odd')

Odd

In [ ]:
S=[25,96,56,23,14,78,11,1,2,4,5,7,8,9,6,14,45,15,30,60,80]

Even=[]
Odd=[]

for i in S:
  if i%2==0:
    Even.append(i)
  else:
    Odd.append(i)
print(Odd)
print(Even)

[25, 23, 11, 1, 5, 7, 9, 45, 15]
[96, 56, 14, 78, 2, 4, 8, 6, 14, 30, 60, 80]

In [ ]:
L=[1,2,3,4]

L.append(1000)
L

[1, 2, 3, 4, 1000]

In [ ]:
L.append(70)
L

[1, 2, 3, 4, 1000, 1000, 70]

In [ ]:
S=[25,96,56,23,14,78,11,1,2,4,5,7,8,9,6,14,45,15,30,60,80]


L_3=[] #%3
L_5=[] #%5
L_8=[] #%8

for i in S:
  if i%3==0:
    L_3.append(i)
  if i%5==0:
    L_5.append(i)
  if i%8==0:
    L_8.append(i)

print(L_3)
print(L_5)
print(L_8)

[96, 78, 9, 6, 45, 15, 30, 60]
[25, 5, 45, 15, 30, 60, 80]
[96, 56, 8, 80]

In [ ]:
#"Guvi Geek Network"/ o/p 'There is a 6 vovels in Guvi Geek Network'
word=input('Enter your Word : ')

V_count=0

for i in word:
  if i in 'aeiouAEIOU':
    V_count=V_count+1

print(f'There is a {V_count} vovels in {word}')

Enter your Word : try
There is a 0 vovels in try

In [ ]:
#"Guvi Geek Network"  

word=input('Enter the word : ')

uniq_word=set(word)


for i in uniq_word:
  if i !=' ':
    print(i,word.count(i))

Enter the word : Guvi Geek Network
i 1
t 1
e 3
u 1
o 1
G 2
v 1
k 2
r 1
N 1
w 1

In [ ]:
d={}
for i in uniq_word:
  if i !=' ':
    if word.count(i)>1:
      d.update({i:word.count(i)})
d

{'G': 2, 'e': 3, 'k': 2}

In [ ]:
# 0 to 10


for i in range(10+1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 5 to 25

for i in range(5,25+1):
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
# 5 7 9 11 13 15 17 19 21....  (5,29)

for i in range(5,29+1,2):
  print(i)

5
7
9
11
13
15
17
19
21
23
25
27

In [ ]:
# 10 to 5

for i in range(10,5-1,-1):
  
  print(i)

10
9
8
7
6
5

In [ ]:
D=[1,2,3,4,1,2,4,5,6,7,8,9,2,4,5,7]

D.count(10)

0

In [ ]:
S=[25,96,56,23,14,78,11,1,2,4,5,7,8,9,6,14,45,15,30,60,80]

Even=[]
Odd=[]

for i in S:
  if i%2==0:
    Even.append(i)
  else:
    Odd.append(i)
print(Odd)
print(Even)

[25, 23, 11, 1, 5, 7, 9, 45, 15]
[96, 56, 14, 78, 2, 4, 8, 6, 14, 30, 60, 80]

In [ ]:
S=[25,96,56,23,14,78,11,1,2,4,5,7,8,9,6,14,45,15,30,60,80]

Even=[]
Odd=[]

for i in range(0,len(S)):
  if S[i]%2==0:
    Even.append(S[i])
  else:
    Odd.append(S[i])

print(Odd)
print(Even)

[25, 23, 11, 1, 5, 7, 9, 45, 15]
[96, 56, 14, 78, 2, 4, 8, 6, 14, 30, 60, 80]

In [ ]:
S[2]

56

In [ ]:
D=[1,2,3,4,1,2,5,6,7,2,8,9,3,5,2,5,9,10]
S=set(D)
for i in S:
  if i!=' ':
    print(i,'->>',D.count(i))

1 ->> 2
2 ->> 4
3 ->> 2
4 ->> 1
5 ->> 3
6 ->> 1
7 ->> 1
8 ->> 1
9 ->> 2
10 ->> 1

In [ ]:
#Zip Function 

A=[1,2,3,4,5,6,80]
B=[10,20,30,40,50,60,70]

for i,j in zip(A,B):
  print(i+j)

11
22
33
44
55
66
150

In [ ]:
Product_list={'Pro_Name':['Sugar','Dhall','Oil','Rice','Salt'],
              'Pro_Qty':[2,3,5,10,1.5],
              'Pro_Price':[40,85,180,75,20]}

Product_list

{'Pro_Name': ['Sugar', 'Dhall', 'Oil', 'Rice', 'Salt'],
 'Pro_Price': [40, 85, 180, 75, 20],
 'Pro_Qty': [2, 3, 5, 10, 1.5]}

In [ ]:
Product_list['Total_Price']=[]
Product_list

{'Pro_Name': ['Sugar', 'Dhall', 'Oil', 'Rice', 'Salt'],
 'Pro_Price': [40, 85, 180, 75, 20],
 'Pro_Qty': [2, 3, 5, 10, 1.5],
 'Total_Price': []}

In [ ]:
for p,q in zip(Product_list['Pro_Price'],Product_list['Pro_Qty']):
  T=p*q
  Product_list['Total_Price'].append(T)

In [ ]:
Product_list

{'Pro_Name': ['Sugar', 'Dhall', 'Oil', 'Rice', 'Salt'],
 'Pro_Price': [40, 85, 180, 75, 20],
 'Pro_Qty': [2, 3, 5, 10, 1.5],
 'Total_Price': [80, 255, 900, 750, 30.0, 80, 255, 900, 750, 30.0]}

In [ ]:
for N,TP in zip(Product_list['Pro_Name'],Product_list['Total_Price']):
  print(N,'Price is ',TP)

Sugar Price is  80
Dhall Price is  255
Oil Price is  900
Rice Price is  750
Salt Price is  30.0

In [ ]:
Gst_5=['Milk','Rice','Curd','Salt']
Gst_12=['Sugar','Dhall','SurfXL','Handwash']
Gst_18=['Oil','Cashews','Ghee','Toothpaste']

Product_list['Total_Price']=[]
Product_list['GST_Price']=[]


for N,P,Q in zip(Product_list['Pro_Name'],Product_list['Pro_Price'],Product_list['Pro_Qty']):
  T=P*Q
  Product_list['Total_Price'].append(T)

  if N in Gst_5:
    GT=T+(T*0.05)
    Product_list['GST_Price'].append(GT)
  elif N in Gst_12:
    GT=T+(T*0.12)
    Product_list['GST_Price'].append(GT)
  elif N in Gst_18:
    GT=T+(T*0.18)
    Product_list['GST_Price'].append(GT)

Product_list

{'GST_Price': [89.6, 285.6, 1062.0, 787.5, 31.5],
 'Pro_Name': ['Sugar', 'Dhall', 'Oil', 'Rice', 'Salt'],
 'Pro_Price': [40, 85, 180, 75, 20],
 'Pro_Qty': [2, 3, 5, 10, 1.5],
 'Total_Price': [80, 255, 900, 750, 30.0]}

In [ ]:
for N,TP,GT in zip(Product_list['Pro_Name'],Product_list['Total_Price'],Product_list['GST_Price']):
  print(N,'Price is ',TP,'With GST',GT)


print('Bill Amount',sum(Product_list['Total_Price']),' with Gst :',sum(Product_list['GST_Price']))

Sugar Price is  80 With GST 89.6
Dhall Price is  255 With GST 285.6
Oil Price is  900 With GST 1062.0
Rice Price is  750 With GST 787.5
Salt Price is  30.0 With GST 31.5
Bill Amount 2015.0  with Gst : 2256.2

In [ ]:
# While Loop