<a href="https://colab.research.google.com/github/Bavitayadav8/Bavitayadav8/blob/main/PSES16_08_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Input/Output**

Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [ ]:
A=int(input())
print(A)

5
5

# **Basic Python**

Variable

In [ ]:
A=50
A='Guvi'
A=3.14
A=[1,23,3,4,56]

user_input=20
UserInput=50

List=20
user_2=25
A=25
B=30
print(A+B)

55

Data Type

In [ ]:
I=50  #Int  # mobile ,Adhar,RollNo,Bank AccNo
I=-50 #Int

F=3.14   #Float #Height , Weight,Temp,BMI,Avg,Distance 
F=-3.14  #Float

S='50'  #MailId,PAN, IFSC,Name,Address......
S="50"
S="Guvi"

S='!@#$%^&*()_' # Anything inside cote will call it as string


B=True #Bool #1 ,Yes,Pass,Start,High.....
B=False #Bool #0,No,Fail,Stop,Low......

In [ ]:
5==5

True

In [ ]:
5=='5'

False

In [ ]:
10>5

True

**Data Structures **

list,Tuple, set and dictionary

In [ ]:
#List

L=[5,3.14,5,'Guvi',True,[10,20,30,40,50]]  # list can contain any datatypes or data structure ,it can contain duplicates

#  0  1      2    3        4      #index Add, Remove, Manipulate (list is Mutable)

print(L)

[5, 3.14, 5, 'Guvi', True, [10, 20, 30, 40, 50]]

In [ ]:
print(L[4])

True

In [ ]:
print(L[5][4])

50

In [ ]:
print(L[5])

[10, 20, 30, 40, 50]

In [ ]:
print(L[5][2])

30

In [ ]:
#Tuple

T=(5,3.14,5,'Guvi',True,[10,20,30,40,50]) # Tuple can contain any data types or data structure, it can contain duplicate 
                                          # Immutable (we can't change)
print(T[3])

Guvi

In [ ]:
S=(5,7,9,8,1,3,4,6,1,2,5)
print(S)

(5, 7, 9, 8, 1, 3, 4, 6, 1, 2, 5)

In [ ]:
A=[1,2,3,4,5]
B=(10,20,30,40,50)
print(A)
print(B)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)

In [ ]:
print(tuple(A))
print(list(B))

(1, 2, 3, 4, 5)
[10, 20, 30, 40, 50]

In [ ]:
sorted(S,reverse =True)

[9, 8, 7, 6, 5, 5, 4, 3, 2, 1, 1]

In [ ]:
Passedout_student=('Sachin',2010,'EEE','A')  #Tuple

Present_Student=['Dhoni','EcE','II-A','B'] #List

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
S=[1,2,3,1,4,7,8,2,3,2,4,2,1]
len(S)

13

In [ ]:
S.count(10)

0

In [ ]:
S.index(2)

1

In [ ]:
S[5]

7

In [ ]:
#Set
Passport_Num=['A25','A55','B89','A25','C36','B89','D40','A55','A25'] #1000 #A25-2,A55-1,B89-1 =4
len(Passport_Num)

9

In [ ]:
Remove_Dup=set(Passport_Num)  #Set will Remove duplicate, set is unoroder
Remove_Dup

{'A25', 'A55', 'B89', 'C36', 'D40'}

In [ ]:
list(Remove_Dup)[2]

'B89'

In [ ]:
len(Remove_Dup)

5

In [ ]:
print("No of duplicate : ", len(Passport_Num)-len(Remove_Dup))

No of duplicate :  4

In [ ]:
S={1,5,144,201,56,89,75,100,45,7,9,99,5,55,53,46,78,54,26,10,100,14,13,12,14,1,4,144,'144'}
S

{1,
 10,
 100,
 12,
 13,
 14,
 '144',
 144,
 201,
 26,
 4,
 45,
 46,
 5,
 53,
 54,
 55,
 56,
 7,
 75,
 78,
 89,
 9,
 99}

In [ ]:
#Dictionary 

D={'Name':'Sachin',
   'Age':40,
   'Salary':40000}
   
print(D['Name'])

Sachin

In [ ]:
Emp={'Emp_Id':[45,63,89,78,7,5],
     'Name':['Arun','Suresh','Rahul','Bala','Dhoni','Sachin'],
     'Age':[25,34,30,28,35,40],
     'Salary':[25000,30000,32000,40000,50000,75000]} #500

Emp

{'Emp_Id': [45, 63, 89, 78, 7, 5],
 'Name': ['Arun', 'Suresh', 'Rahul', 'Bala', 'Dhoni', 'Sachin'],
 'Age': [25, 34, 30, 28, 35, 40],
 'Salary': [25000, 30000, 32000, 40000, 50000, 75000]}

In [ ]:
Emp['Name'][3]

'Bala'

In [ ]:
print('employee :',Emp['Emp_Id'][3])
print('Name :',Emp['Name'][3])
print('Age :',Emp['Age'][3])
print('Salary:',Emp['Salary'][3])

employee : 78
Name : Bala
Age                     : 28
Salary: 40000

In [ ]:
Emp['Emp_Id'].index(78)

3

In [ ]:
print('EmpID : ',Emp['Emp_Id'][Emp['Emp_Id'].index(78)])
print('Name : ',Emp['Name'][Emp['Emp_Id'].index(78)])
print('Age : ',Emp['Age'][Emp['Emp_Id'].index(78)])
print('Salary : ',Emp['Salary'][Emp['Emp_Id'].index(78)])

EmpID :  78
Name :  Bala
Age :  28
Salary :  40000

In [ ]:
id=int(input('Enter the Emp_Id ')) #7 63
pos=Emp['Emp_Id'].index(id) #4  1  

print('EmpID : ',Emp['Emp_Id'][pos])#7  63
print('Name : ',Emp['Name'][pos])#Dhoni  Suresh
print('Age : ',Emp['Age'][pos])#35   34
print('Salary : ',Emp['Salary'][pos])#50000  30000

Enter the Emp_Id 63
EmpID :  63
Name :  Suresh
Age :  34
Salary :  30000

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#Input and Output

# 5  / o/p  5

A=int(input())
print(A)
print(type(A))

5
5
<class 'int'>

In [ ]:
A=input()
print(A)
print(type(A))

5
5
<class 'str'>

In [ ]:
A=input()
B=input()
print(A+B)

50
10
5010

In [ ]:
A=int(input())
B=int(input())
print(A+B)

50
10
60

In [ ]:
A=int(input())
B=input()
print(A+B)

50
10

TypeError: ignored

In [ ]:
A=int(input())
B=input()
print(A*B)

5
guvi
guvi guvi guvi guvi guvi

In [ ]:
A='50'
float(A)

50.0

In [ ]:
#1 2 3 4 5/ 1 2 3 4 5

A=input()
print(A)
print(type(A))

1 2 3 4 5
1 2 3 4 5
<class 'str'>

In [ ]:
A=int(input())
print(A)
print(type(A))

1 2 3 4 5

ValueError: ignored

In [ ]:
A=input().split(' ')
print(A)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
H='50'
int(H)

50

In [ ]:
B=list(map(int,A)) #1 2 4 5 1 6 7 1 5
B

[1, 2, 3, 4, 5]

In [ ]:
A

['1', '2', '3', '4', '5']

In [ ]:
print(''.join(A))

12345

In [ ]:
B

[1, 2, 3, 4, 5]

In [ ]:
print(' '.join(B))

TypeError: ignored

In [ ]:
print(*A)

1 2 3 4 5

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
B=list(map(int,input().split(' ')))
print(*B)

1 2 3 4 5
1 2 3 4 5

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#5-2
#7-8-9-4-5

A=list(map(int,input().split('-')))
B=list(map(int,input().split('-')))

print(*A)
print(*B)

5-2
1-2-3-4-5
5 2
1 2 3 4 5

NameError: ignored

In [ ]:
S='guvi'

S.upper()

'GUVI'

In [ ]:
S.upper()

'GUVI'

#Conditional Statment

if, else and elif

In [ ]:
# Age>=14 and weight>=45
Name=input('Enter your Name: ')
Age=int(input('Enter your Age : '))
Wt=float(input('Enter your Weight : '))

if Age>=14 and Wt>=45:
  print(Name,'You are eligible for ride')
else:
  print(Name, 'You are not eligible for ride')

Enter your Name: Akhil
Enter your Age : 15
Enter your Weight : 40
Akhil You are not eligible for ride

In [ ]:
Name=input('Enter your Name: ')
Age=int(input('Enter your Age : '))

if Age>=14:
  Wt=float(input('Enter your Weight : '))
  if Wt>=45:
    print(Name,'You are eligible for ride')
  else:
    print(Name,'You are not eligible for ride because you are underweight')
else:
    print(Name,'You are not eligible for ride because you are underAge')

Enter your Name: Ram
Enter your Age : 15
Enter your Weight : 45
Ram You are eligible for ride

In [ ]:
#1000> 10%  2000>20% 5000> 25%  / 1000<  not eligible for discount 


Cust_Name=input('Enter Your Name : ')
Bill_Amt=float(input('Enter the Bill Amt: '))

if Bill_Amt>1000 and Bill_Amt<=2000:
  print(Cust_Name, 'You got 10% discount')

elif Bill_Amt>2000 and Bill_Amt<=5000:
  print(Cust_Name, 'You got 20% discount')

elif Bill_Amt>5000:
  print(Cust_Name, 'You got 25% discount')

else:
  print(Cust_Name, 'You not eligible for discount ')

Enter Your Name : Akash
Enter the Bill Amt: 5000.50
Akash You got 25% discount

In [ ]:
#500

Cust_Name=input('Enter Your Name : ')
Bill_Amt=float(input('Enter the Bill Amt: '))

if round(Bill_Amt)%2!=0:
  print(Cust_Name,'Eligible for Discount')
else:
  print(Cust_Name,'Not Eligible for Discount')

Enter Your Name : Ram
Enter the Bill Amt: 25.3
Ram Eligible for Discount

In [ ]:
R=600.400000
round(R,2)

600.4

In [ ]:
print('%.10f'%R)

600.4000000000

Loops

For loop and while loop

In [ ]:
#0 to 10
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#100 to 80  m  to n
m=int(input())
n=int(input())
for i in range(m,n-1,-1):
  print(i)

50
30
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#0  to 10
i=0
while i<=5:
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
#0  to 10
i=0
while i<=5:
  i=i+1
  print(i)

1
2
3
4
5
6

In [ ]:
i=0
while i<=25:
  i=i+1
  print(i)
  i=i+2

1
4
7
10
13
16
19
22
25

In [ ]:
S=[1,2,4,8,9,7,55,66,33,45,12,78,96,45,30,15]

Odd=[]
Even=[]

for i in range(0,len(S)):
  if S[i]%2==0:
    Even.append(S[i])
  else:
    Odd.append(S[i])
  
print(Odd)
print(Even)

[1, 9, 7, 55, 33, 45, 45, 15]
[2, 4, 8, 66, 12, 78, 96, 30]

In [ ]:
S=[1,2,4,8,9,7,55,66,33,45,12,78,96,45,30,15]

Odd=[]
Even=[]

i=0
while i<len(S):
  if S[i]%2==0:
    Even.append(S[i])
  else:
    Odd.append(S[i])  
  i=i+1

print(Odd)
print(Even)

[1, 9, 7, 55, 33, 45, 45, 15]
[2, 4, 8, 66, 12, 78, 96, 30]

In [ ]:
S=[1,2,4,8,9,7,55,66,33,45,12,78,96,45,30,15]

for i in S:
  print(i)

1
2
4
8
9
7
55
66
33
45
12
78
96
45
30
15

In [ ]:
# Sachin 25000 Raina 20000 Dhoni 23000 Virat 22000 Yuvaraj 18000

#Sachin
#Dhoni
#Virat
#Raina
#Yuvaraj

Data=input().split(' ')
print(Data)

Sachin 25000 Raina 20000 Dhoni 23000 Virat 22000 Yuvaraj 18000
['Sachin', '25000', 'Raina', '20000', 'Dhoni', '23000', 'Virat', '22000', 'Yuvaraj', '18000']

In [ ]:
Name=[]
Salary=[]

for i in Data:
  if i.isnumeric():
    Salary.append(int(i))
  else:
    Name.append(i)
print(Name)
print(Salary)

['Sachin', 'Raina', 'Dhoni', 'Virat', 'Yuvaraj']
[25000, 20000, 23000, 22000, 18000]

In [ ]:
sorted_data=sorted(Salary,reverse=True)
sorted_data

[25000, 23000, 22000, 20000, 18000]

In [ ]:
for i in sorted_data:
  pos=Salary.index(i)
  print(Name[pos],'--->',Salary[pos])

#Sachin
#Dhoni
#Virat
#Raina
#Yuvaraj

Sachin ---> 25000
Dhoni ---> 23000
Virat ---> 22000
Raina ---> 20000
Yuvaraj ---> 18000

In [ ]:
S=[]
S.append(100)
S

[100]

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#Zip in Forloop

A=[1,2,3,4,5,100,25]
B=[10,20,30,40,50,25,80]
C=[10,20,30,40,50,25,80]

for a,b,c in zip(A,B,C):
  print((a+b)*c)

110
440
990
1760
2750
3125
8400

In [ ]:
Product={'Prod_name':['Sugar','Salt','Rice','Oil','Dhall','Milk','Apple','Mango','Carrot','Beans'],
         'Prod_Qty':[2,1,20,5,15,3,1.5,4,0.500,0.750],
         'Prod_Price':[40,10,60,200,120,60,180,160,65,58]}

Product

{'Prod_name': ['Sugar',
  'Salt',
  'Rice',
  'Oil',
  'Dhall',
  'Milk',
  'Apple',
  'Mango',
  'Carrot',
  'Beans'],
 'Prod_Qty': [2, 1, 20, 5, 15, 3, 1.5, 4, 0.5, 0.75],
 'Prod_Price': [40, 10, 60, 200, 120, 60, 180, 160, 65, 58]}

In [ ]:
Product['Total_price']=[]
Product

{'Prod_name': ['Sugar',
  'Salt',
  'Rice',
  'Oil',
  'Dhall',
  'Milk',
  'Apple',
  'Mango',
  'Carrot',
  'Beans'],
 'Prod_Qty': [2, 1, 20, 5, 15, 3, 1.5, 4, 0.5, 0.75],
 'Prod_Price': [40, 10, 60, 200, 120, 60, 180, 160, 65, 58],
 'Total_price': []}

In [ ]:
for p,q in zip(Product['Prod_Price'],Product['Prod_Qty']):
  T=p*q
  Product['Total_price'].append(T)
Product

{'Prod_name': ['Sugar',
  'Salt',
  'Rice',
  'Oil',
  'Dhall',
  'Milk',
  'Apple',
  'Mango',
  'Carrot',
  'Beans'],
 'Prod_Qty': [2, 1, 20, 5, 15, 3, 1.5, 4, 0.5, 0.75],
 'Prod_Price': [40, 10, 60, 200, 120, 60, 180, 160, 65, 58],
 'Total_price': [80,
  10,
  1200,
  1000,
  1800,
  180,
  270.0,
  640,
  32.5,
  43.5,
  80,
  10,
  1200,
  1000,
  1800,
  180,
  270.0,
  640,
  32.5,
  43.5,
  80,
  10,
  1200,
  1000,
  1800,
  180,
  270.0,
  640,
  32.5,
  43.5,
  80,
  10,
  1200,
  1000,
  1800,
  180,
  270.0,
  640,
  32.5,
  43.5,
  80,
  10,
  1200,
  1000,
  1800,
  180,
  270.0,
  640,
  32.5,
  43.5]}

In [ ]:
Product['Total_price']

[80, 10, 1200, 1000, 1800, 180, 270.0, 640, 32.5, 43.5]

In [ ]:
sum(Product['Total_price'])

5256.0

In [ ]:
A=10
B=20
print(A+B)
print(A*B)

30
200

In [ ]:
# list Comp

#1 2 3 4 5 / 1 2 3 4 5
A=input().split(' ')
num=[]
for i in A:
  num.append(int(i))
print(num)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
B=[int(i) for i in A]
print(B)

[1, 2, 3, 4, 5]

In [ ]:
print(*[int(i) for i in input().split('-')]) #1-2-3-4-5 /1 2 3 4 5

1-2-3-4-5
1 2 3 4 5

In [ ]:
#Sachin 25000 Raina 20000 Dhoni 23000 Virat 22000 Yuvaraj 18000

Data=input().split(' ')
Name=[i for i in Data if i.isalpha()]
Salary=[int(i) for i in Data if i.isnumeric()]
print(Name)
print(Salary)

Sachin 25000 Raina 20000 Dhoni 23000 Virat 22000 Yuvaraj 18000
['Sachin', 'Raina', 'Dhoni', 'Virat', 'Yuvaraj']
[25000, 20000, 23000, 22000, 18000]

In [ ]:
#Functions

#print(),int(),input(),split(),sum(),len(),append(),min(),max(), sorted()....



S=[1,2,3,4,5]
sum(S)

15

In [ ]:
T=0
for i in S:
  T=T+i
T

15

In [ ]:
def Total(x):
  T=0
  for i in x:
    T=T+i
  return T

In [ ]:
D=[10,20,30,40,50]

sum(D)

150

In [ ]:
Total(D)

150

In [ ]:
Total([1,2,4,5,7,8,9,4,5,6,8])

59

In [ ]:
def SQR(x):
  print(x**2)

In [ ]:
SQR(5)

25

In [ ]:
D=[1,2,3,4,5,6]

F=list(map(SQR,D))
F

1
4
9
16
25
36

[None, None, None, None, None, None]

In [ ]:
def SQR(x):
  print(x**2) 

def EXP(x,y):
  print (x**y)

In [ ]:
SQR(5)

25

In [ ]:
EXP(5,3)

125

In [ ]:
EXP(5,3) = 25**3

In [ ]:
25**3

15625

In [ ]:
def SQR(x):
 return x**2

def EXP(x,y):
  return SQR(x)**y

In [ ]:
SQR(5)

25

In [ ]:
EXP(5,3)

15625