<a href="https://colab.research.google.com/github/Bavitayadav8/Bavitayadav8/blob/main/PSES28_11_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World Program

In [ ]:
print('Hello World') # This is a Hello world Program

Hello World

# **Basic python**

Variable

In [ ]:
A=25
A=3.45
A='Guvi'
A=[1,2,3,45,6]


user_input=30
UserInput=30
user2=98
list_=45

A=25
a=40
print(A+a)

65

Data Type

In [ ]:
I = 500    #int  Age, Accno, NUMOTP, PinCode, Mobile, AADar
I = -50   #int 

F=3.14    #Float    Height, Weight, Temp, Speed, Duration, Price, Liter, Distance....
F=-3.14   #Float

S='G500' 
S="50"

S='Guvi'  #String   Name, Place, Address, Mailid, Password, Rymes, Month Name, PAN, '128.983.245.98'
S=''

S="""This is the front page of the Simple English Wikipedia. 
Wikipedias are places where people work together to write encyclopedias in different languages.
 We use Simple English words and grammar here.
  The Simple English Wikipedia is for everyone! That includes children and adults who are learning English. 
  There are 222,733 articles on the Simple English Wikipedia. All of the pages are free to use. 
  They have all been published under both the Creative Commons Attribution/Share-Alike License 3.0 and the GNU Free Documentation License.
   You can help here! You may change these pages and make new pages. 
   Read the help pages and other good pages to learn how to write pages here.
    If you need help, you may ask questions at Simple talk."""



B=True  #Bool   1, Yes, Pass, On, Present,Push, In
B=False #Bool   0, No,Fail,Off, Absent,Pull, Out

'This is the front page of the Simple English Wikipedia. \nWikipedias are places where people work together to write encyclopedias in different languages.\n We use Simple English words and grammar here.\n  The Simple English Wikipedia is for everyone! That includes children and adults who are learning English. \n  There are 222,733 articles on the Simple English Wikipedia. All of the pages are free to use. \n  They have all been published under both the Creative Commons Attribution/Share-Alike License 3.0 and the GNU Free Documentation License.\n   You can help here! You may change these pages and make new pages. \n   Read the help pages and other good pages to learn how to write pages here.\n    If you need help, you may ask questions at Simple talk.'

In [ ]:
5==5

True

In [ ]:
5=='5'

False

In [ ]:
5>=5

True

In [ ]:
A=50
B=60
print(A+B)

110

Data Structure

List, tuple, set and dictionary

In [ ]:
#List


L=[50,3.24,True,'Guvi',50,[10,20,30,40,60]]  #List can contain any data types or Data Structure and it allow duplicates

#   0  1    2    3      4       5      #index Add,Remove and Change (List is Mutable) 

print(L[3])

Guvi

In [ ]:
print(L[5][1])

20

In [ ]:
#Tuple

T=(50,3.24,True,'Guvi',50,[10,20,30,40,60])  #Tuple can contain any data types or Data Structure and it allow duplicates
                                             # Tuple is immutable
print(T[3])

Guvi

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
passedout=('Sachin','EEE',2010,'A')  #Tuple

presentStd=[('Dhoni','ECE'),'II_B','B'] #List

Set

In [ ]:
S={1,3,5,'5','50','100',100,2,4,2,5,6,'100','50',50,67,'78',39,'45'} #Set will not allow any duplicate , it is an unorder


print(S)

{1, 2, 3, 100, 5, 4, 6, '100', '5', 67, 39, 50, '45', '78', '50'}

In [ ]:
list(S)[5]

4

In [ ]:
L=[1,3,5,'5','50','100',100,2,4,2,5,6,'100','50',50,67,'78',39,'45']
print(L[5])

100

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
Cargo=['USA','UAE','UK','UK','USA','UAE','UK','UK','USA','UAE','UK','UK','USA','UK','USA','UAE']

set(Cargo)

{'UAE', 'UK', 'USA'}

Dictionary

In [ ]:
D={'Name':'Kumar',
   "Age":25,
   "Salary":50000,
   3:'Feb'
   }

print(D)

{'Name': 'Kumar', 'Age': 25, 'Salary': 50000, 3: 'Feb'}

In [ ]:
print(D['Name'])

Kumar

In [ ]:
print(D[3])

Feb

In [ ]:
Emp={'Emp-Id':[29,38,56,89,45,67],
     'Name':['Karthick','Farooq','Madhan','Senthil','Raja','Praveen'],
     'Age':[25,30,28,42,22,35],
     'Salary':[30000,42000,30000,45000,38000,50000]}
Emp

{'Emp-Id': [29, 38, 56, 89, 45, 67],
 'Name': ['Karthick', 'Farooq', 'Madhan', 'Senthil', 'Raja', 'Praveen'],
 'Age': [25, 30, 28, 42, 22, 35],
 'Salary': [30000, 42000, 30000, 45000, 38000, 50000]}

In [ ]:
Emp['Name'][2]

'Madhan'

In [ ]:
print('Empid : ',Emp['Emp-Id'][2])
print('Name : ',Emp['Name'][2])
print('Age : ',Emp['Age'][2])
print('Salary : ',Emp['Salary'][2])

Empid :  56
Name :  Madhan
Age :  28
Salary :  30000

In [ ]:
Emp['Emp-Id'].index(56)

2

In [ ]:
id=int(input('Enter Emp-Id : '))

pos=Emp['Emp-Id'].index(id)
print(pos)

print('Empid : ',Emp['Emp-Id'][pos])
print('Name : ',Emp['Name'][pos])
print('Age : ',Emp['Age'][pos])
print('Salary : ',Emp['Salary'][pos])

Enter Emp-Id : 45
4
Empid :  45
Name :  Raja
Age :  22
Salary :  38000

In [ ]:
#Task-1

#RollNo, Std NAme, Class Sec, Maths,sci,social,English, Computer Sci , Calculate Total, %


Student_details={"RollNo":[21,30,11,42,50],
                 "Name":["Ravi","Raja","Karthick","Madhan","Dhevi"],
                 "Maths":[78,99,54,68,88],
                 "Science":[20,42,72,50,96],
                 "Social":[34,76,84,41,56],
                 "English":[99,85,65,10,56],
                 "ComputerScience":[53,26,95,66,70]}
Student_details

{'RollNo': [21, 30, 11, 42, 50],
 'Name': ['Ravi', 'Raja', 'Karthick', 'Madhan', 'Dhevi'],
 'Maths': [78, 99, 54, 68, 88],
 'Science': [20, 42, 72, 50, 96],
 'Social': [34, 76, 84, 41, 56],
 'English': [99, 85, 65, 10, 56],
 'ComputerScience': [53, 26, 95, 66, 70]}

In [ ]:

RollNO=int(input('Enter Student RollNo : '))
pos=Student_details['RollNo'].index(RollNO)
M=Student_details['Maths'][pos]
Sc=Student_details['Science'][pos]
So=Student_details['Social'][pos]
E=Student_details['English'][pos]
CS=Student_details['ComputerScience'][pos]
Total=M+Sc+So+E+CS
Percentage=Total/5
print("Roll No :",RollNO)
print("Name :",Student_details['Name'][pos])
print("Maths :",M)
print("Science :",Sc)
print("Social :",So)
print("English :",E)
print("CS :",CS)
print("Total :",Total)
print("Percentage :",Percentage)

Enter Student RollNo : 42
Roll No : 42
Name : Madhan
Maths : 68
Science : 50
Social : 41
English : 10
CS : 66
Total : 235
Percentage : 47.0

Input and output

In [ ]:
# 5 / o/p 5


A=int(input())

print(A)

5
5

In [ ]:
A=int(input())
B=int(input())
print(A+B)

10
50
60

In [ ]:
A=int(input())
B=input()
print(A+B)

10
50

TypeError: ignored

In [ ]:
B=int(input())
A=input()
print(A*B)

4
Guvi
Guvi Guvi Guvi Guvi

In [ ]:
#3.14  / 3.14

A=float(input())
print(A)

3.15
3.15

In [ ]:
# 1 2 3 4 5  / o/p 1 2 3 4 5

A=input()
print(A)

1 2 3 4 5
1 2 3 4 5

In [ ]:
A=int(input())
print(A)

1 2 3 4 5

ValueError: ignored

In [ ]:
A=list(input())
print(A)

12345
['1', '2', '3', '4', '5']

In [ ]:
B=list(map(int,A)) # 1 2 3 4 5
B

[1, 2, 3, 4, 5]

In [ ]:
A

['1', '2', '3', '4', '5']

In [ ]:
B

[1, 2, 3, 4, 5]

In [ ]:
print(' '.join(A)) #1-2-3-4-5

1 2 3 4 5

In [ ]:
print(' '.join(B))

TypeError: ignored

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
print(*A)

1 2 3 4 5

In [ ]:
A=input().split()
B=list(map(int,A))
print(*B)

1 2 3 4 5
1 2 3 4 5

In [ ]:
C=list(map(int,A))
C

[1, 2, 3, 4, 5]

In [ ]:
# Raja 26 30000 suresh 30 40000

Conditional Statment

if else elif

In [ ]:
A=10                  # 0 Zero , 5 Odd  10 Even

if A%2==0:
  print('Even')
else:
  print('Odd')

Even

In [ ]:
A=int(input())

if A==0:
  print('Zero')
elif A%2==0:
  print('Even')
else:
  print('Odd')

24
Even

In [ ]:
#Name , Cutoff >190 Doc, >175 Eng, >150 Ats >100 Diploma <100 Not eligible  
#NEET 85%>  elig / not elig


Name=input('Enter Name : ')
Cutoff=float(input('Enter your Cutoff :'))
if Cutoff>190 and Cutoff <=200:
  NEET=float(input('Enter Your Neet % : '))
  
  if NEET>85 and NEET<=100:
    print('You Are eligible for Doctor')
  elif NEET<=85 and NEET>=0:
    print('You are not Eligible for Doctor ')
  else:
    print('Invalid NEET %')

elif  Cutoff>175 and Cutoff <=190:
  print('You Are eligible for Engineering')

elif  Cutoff>150 and Cutoff <=175:
  print('You Are eligible for Ats')

elif  Cutoff>100 and Cutoff <=150:
  print('You Are eligible for Diploma')

elif  Cutoff>0 and Cutoff <=100:
  print('You Not eligible')

else:
  print("Invalid CUTOFF")

Enter Name : Sanjay
Enter your Cutoff :155
Enter Your Neet % : 0
You Are eligible for Ats

In [ ]:
5/2

2.5

In [ ]:
11//2

5

In [ ]:
11%2

1

In [ ]:
n=int(input())
A=list(map(int,input().split()))[0:n]

A

3
1 2 3 4 5 6

[1, 2, 3]

In [ ]:
len('1234567890')

10

Loops

for loop and While loop

In [ ]:
S=[1,2,3,4,5]

for i in S:
  print(i)

1
2
3
4
5

In [ ]:
# Raja 28 30000 Divya 20 40000 Jay 25 50000 Ravi 23 50000

Data=input().split(' ')
Data

Raja 28 30000 Divya 20 40000 Jay 25 50000 Ravi 23 50000

['Raja',
 '28',
 '30000',
 'Divya',
 '20',
 '40000',
 'Jay',
 '25',
 '50000',
 'Ravi',
 '23',
 '50000']

In [ ]:
print(Data)

['Raja', '28', '30000', 'Divya', '20', '40000', 'Jay', '25', '50000', 'Ravi', '23', '45000']

In [ ]:
D={'Name':[],
   "Age":[],
   "Salary":[]}
D

{'Name': [], 'Age': [], 'Salary': []}

In [ ]:
for i in Data:
  if i.isalpha():
    D['Name'].append(i)
  elif len(i)==2 and i.isnumeric():
    D['Age'].append(int(i))
  else:
    D['Salary'].append(int(i))
D

{'Name': ['Raja', 'Divya', 'Jay', 'Ravi'],
 'Age': [28, 20, 25, 23],
 'Salary': [30000, 40000, 50000, 50000]}

In [ ]:
# Jay Ravi Divya Raja

Sorted_Salary=sorted(D['Salary'],reverse=True)
Sorted_Salary

[50000, 50000, 40000, 30000]

In [ ]:
for i in Sorted_Salary:
  x=D['Salary'].index(i)
  Name=D['Name'][x]
  Age=D['Age'][x]
  Salary=D['Salary'][x]

  print(f'Hi My Name is {Name} My age is {Age} and my salary {Salary} ')

Hi My Name is Jay My age is 25 and my salary 50000
Hi My Name is Jay My age is 25 and my salary 50000
Hi My Name is Divya My age is 20 and my salary 40000
Hi My Name is Raja My age is 28 and my salary 30000

In [ ]:
S=[1,2,3,4,5,3,2,6]

S.index(3)

2

In [ ]:
len('QWERTY')

6

In [ ]:
A=[1,2,3,4,5]

A.append(1000)
A

[1, 2, 3, 4, 5, 1000]

In [ ]:
A.append(500)
A

[1, 2, 3, 4, 5, 1000, 1000, 1000, 500]

In [ ]:
A=[1,100,1000,20,25,78,19,45]

sorted(A)

[1, 19, 20, 25, 45, 78, 100, 1000]

In [ ]:
A=['1','100','1000','20','25','78','19','45']

sorted(A)

['1', '100', '1000', '19', '20', '25', '45', '78']